<!-- <footer class="footer bg-dark h-100">
    <p class="text-center">The only impossible journey is the one you never begin.</p>
</footer> -->


<!-- Sticky footer for desktop -->
<footer class="footer-desktop d-none d-md-block fixed-bottom bg-dark">
  <div class="container text-center">
    <span>The secret of getting ahead is getting started.</span>
  </div>
</footer>

<!-- Normal footer for mobile -->
<footer class="footer-mobile d-block d-md-none bg-dark">
  <div class="container text-center">
    <span>The secret of getting ahead is getting started.</span>
  </div>
</footer>
