:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Adjust padding for mobile-first */
  height: 100%;
  width: 100%;
}


.title {
  /* font-weight: 700; */
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  color: #ffffff;
}

.subtitle {
  font-size: 1.rem;
  color: #bdc3c7; /* A neutral light gray */
  width: 100%;
  margin: 0.5rem auto 0;
}



/* --- Contact List Styling --- */
.contact-list {
  text-align: left;
  width: 100%;
  /* max-width: 300px; */
  margin-left: auto;
  margin-right: auto;
}

.contact-item a {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-item a:not(.no-link):hover {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateX(5px);
}

/* Class for items that are not clickable */
.contact-item a.no-link {
  cursor: default;
}

.contact-item .bi {
  font-size: 2rem;
  color: #b0c3d8; /* Brand blue for icons */
  margin-right: 1rem;
  min-width: 32px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-type {
  /* font-weight: bold; */
  font-size: 1rem;
}

.contact-value {
  font-size: 0.8rem;
  color: #bdc3c7;
}

/* --- General Mobile Adjustments (for screens smaller than 768px) --- */
@media (max-width: 767.98px) {
  :host {
    padding: 1rem;
    align-items: flex-start; /* Align to top on mobile */
  }

  .title {
    font-size: 1.5rem; /* Smaller title */
  }

  .contact-item .bi {
    font-size: 1.5rem; /* Smaller icons */
    margin-right: 1rem;
    
  }
}

