.logo {
  width: 100px;
  height: auto;
}

html, body {
  height: 100%;
  font-family: 'Arima';
}

/* Override the Bootstrap variable for all buttons */
.btn {
  --bs-btn-font-family: 'Arima', sans-serif;
}